commands:
  10-create_home_folder_command:
    command: mkdir -p /home/webapp && chown webapp:webapp /home/webapp
  20-create_ssh_folder_command:
    command: mkdir -p /home/webapp/.ssh && chown webapp:webapp /home/webapp/.ssh
  30-add_github_host:
    command: 'echo "|1|2KSVi4LFrqeCDD6zuKhN0lBEl+w=|z93XRGXYl8JSMnICjM0ZF2ty9O8= ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==" > /home/webapp/.ssh/known_hosts'
    test: '[ ! -f /home/webapp/.ssh/known_hosts ] && echo "ssh known_hosts already exists"'
