files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_check_rake.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            set -xe

            EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
            EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
            EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
            EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

            . $EB_SUPPORT_DIR/envvars

            . $EB_SCRIPT_DIR/use-app-ruby.sh

            cd $EB_APP_STAGING_DIR

            if su -s /bin/bash -c "bundle exec rake -n" $EB_APP_USER; then
                exit 0
            else
                echo "Rake broken!"
                exit 1
            fi
