/**** INDEX ****/

.add-project {
	padding:10px!important;
	height:100px!important;
	padding-top:35px!important;
	font-size:16px!important;
	background-color: #EFEFEF!important;
	opacity: 0.6;
	box-shadow: 5px 5px 5px #EFEFEF;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.env-data {
	margin-top: 10px;
}
.env-name {
	font-size:12px;
	color: #999;
}

.last-update {
	font-size:9px;
	color: #999;
	margin-top:9px;
}

.project-item {
	padding:10px!important;
	height:100px!important;
	font-size:16px!important;
	cursor:pointer!important;
}

.show-project:hover {
	text-decoration:none;
}

.badge-notification {
	margin-top:40px;
}

.badge-error {
  background-color: #d43f3a!important;
}

.badge-warn {
  background-color: #269abc!important;
}


/***** SHOW *****/

#project-show {
	
	ul {
		margin-top: 30px;
		list-style: none;
		padding-left:15px;
	}
	
	.badge {
		width: 45px;
	}
	
	.invite-user {
		width: 100%;
		margin-top:30px;
		margin-bottom:20px;
		border:none;
		border-bottom:1px dashed #CCC;
		outline: none;
		font-size:12px;
	}
	
	ul.notifications { 
		a.url {
			margin-left:10px;
		}
		
		a.more-info {
			font-size:12px;
			margin-top:6px;
			margin-left: 10px;
		}
		
		span.updated-at {
			color: #999;
			margin-left: 20px;
			font-size:10px;
		}
		
	}
	
	p.setup {
		color: #444;
		margin-top: 30px;
	}
	
}