<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
</head>

<body bgcolor="#8d8e90">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
		<tr>
			<td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="61"></a></td>
							<td width="144"></td>
							<td width="393"><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td height="46" align="right" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td width="67%" align="right"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:8px; text-transform:uppercase"></font></td>
											<td width="29%" align="right"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#68696a; font-size:8px"></font></td>
											<td width="4%">&nbsp;</td>
										</tr>
									</table></td>
								</tr>
								<tr>
									<td height="30"></td>
								</tr>
							</table></td>
						</tr>
					</table></td>
				</tr>
				<tr>
					<td align="center">&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="10%">&nbsp;</td>
							<td width="80%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:24px"><strong>
								<em><%=t('mailer.hello')%> <%= @user.email %>!</em></strong></font><br /><br />
									<font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px">
									<%=yield%>
									<hr />
									<%=t('mailer.thanks')%><br />
									WarnMyBug Team  </font></td>
									<td width="10%">&nbsp;</td>
								</tr>
             
							</table></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
      
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
					</table></td>
				</tr>
			</table>
		</body>
		</html>
